version: "3.9"

services:
  nginx:
    build: .
    container_name: nginx-brotli
    ports:
      - "80:80"
    volumes:
      - ./public:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    restart: unless-stopped
